ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    overflow: hidden;
    float:right
}

ul li {
    float: right;
}

ul li a {
    display: block;
    color: rgb(123, 103, 186);
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    font-size: 30px;
    font-family: "Patrick Hand", cursive;
}
a:hover {
    color: rgb(58, 47, 91);
    text-decoration: underline;
}
a {
    color: rgb(123, 103, 186);
    text-decoration: none;
}
h1 {
    font-size: 48px;
    font-family: "Patrick Hand", cursive;
    padding: 4px;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-family: "Patrick Hand", cursive;
    margin: 2px;
}

h3 {
    font-size: 20px;
    font-family: "Patrick Hand", cursive;
    margin: 2px;
}
svg {
    margin-top: 4px;
}