body {
    font-family: "Patrick Hand", cursive;
    background-color: rgb(225, 208, 221);
}
#intro {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: "roles images""links images";

}
#images {
    grid-area: images;
}
ul {
    list-style-type: none;
    margin: 6px;
    padding: 0;
    overflow: hidden;
    float: right;
}

ul li {
    float: right;
    border: 3px solid rgb(123, 103, 186);
    border-radius: 5px;
}
ul li a {
    display: block;
    color: rgb(123, 103, 186);
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    font-size: 30px;
}
ul li a:hover {
    background-color: rgb(123, 103, 186);
    color: rgb(225, 208, 221);
}
a:hover {
    color: rgb(58, 47, 91);
    text-decoration: underline;
}
a {
    color: rgb(123, 103, 186);
    text-decoration: none;
}

h1 {
    font-size: 48px;
    padding: 4px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 2px;
}

h3 {
    font-size: 20px;
    margin: 2px;
}