@font-face {
    font-family: Choco cooky;
    src: url(Chococooky.ttf);
}

body {
    font-family: "Choco cooky", Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(225, 208, 221);
}

::selection {
    color: white;
    background-color: rgb(123, 103, 186);
}

#active {
    background-color: rgb(123, 103, 186);
    color: rgb(225, 208, 221);
    border-radius: 50px;
    text-decoration: underline;
}

#intro {
    display: grid;
    grid-template-columns: 4fr 4fr;
    grid-template-rows: auto auto;
    grid-template-areas: "roles images" "links images";

}

#images {
    grid-area: images;
}

img {
    height: 250px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
    margin: 6px;
    padding: 0;
    float: right;
}

ul li {
    float: right;
    border: 3px solid rgb(123, 103, 186);
    border-radius: 50px;
}

ul li a {
    display: block;
    color: rgb(122, 103, 186);
    text-align: center;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

a {
    color: rgb(123, 103, 186);
    text-decoration: none;
}

audio {
    margin: 5px;
}

hr {
    height: 6px;
    border: 0;
    border-radius: 50px;
    background-color: rgb(123, 103, 186);
}

h1 {
    font-size: 48px;
    padding: 4px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin: 2px;
}

h3 {
    font-size: 20px;
    margin: 4px;
}

p {
    margin: 4px;
}

@media screen and (max-width: 768px) {
    #intro {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "roles" "links" "images";
    }

    #silly {
        display: none;
    }
}

#toggle {
    cursor: pointer;
    background-color: rgb(225, 208, 221);
    border: 3px solid rgb(122, 103, 186);
    border-radius: 50px;
    padding: 18px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

#toggle svg {
    fill: rgb(122, 103, 186);
}

#toggle svg:last-child {
    display: none;
}

.dark-mode {
    background-color: rgb(25, 24, 24);
    color: rgb(225, 208, 221)
}

.dark-mode #toggle svg:first-child {
    display: none;
}

.dark-mode #toggle svg:last-child {
    display: block;
}

.dark-mode #toggle {
    background-color: rgb(122, 103, 186)
}

.dark-mode #subtitle {
    color: rgb(225, 208, 221);
}